body{
    font-family: sans-serif;
    background: rgba(139, 175, 169, 0.81);
}

select {
    width: 135px;
    height: 21px;
}

.result {
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
